# Module 6 Project -Task 2

Author: [Hayley Massey](https://github.com/HMas522)
Repository: [datafun-05-data-at-rest](https://github.com/HMas522/exploratory-data-)

# Section 1 - Load CSV file

In [14]:
# import pandas

import pandas as pd

diamonds = pd.read_csv(r'C:/Users/Hayley/Downloads/diamonds.csv')

# Section 2 View with Heads/Tails Function

In [15]:
#Set up precision and call heads

pd.set_option("display.precision", 2)

diamonds.head(7)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47

# Section 3 View descriptive stats

In [16]:
#call describe
diamonds.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.00,53940.00,53940.00,53940.00,53940.00,53940.00,53940.00,53940.00
mean,26970.50,0.80,61.75,57.46,3932.80,5.73,5.73,3.54
std,15571.28,0.47,1.43,2.23,3989.44,1.12,1.14,0.71
min,1.00,0.20,43.00,43.00,326.00,0.00,0.00,0.00
25%,13485.75,0.40,61.00,56.00,950.00,4.71,4.72,2.91
50%,26970.50,0.70,61.80,57.00,2401.00,5.70,5.71,3.53
75%,40455.25,1.04,62.50,59.00,5324.25,6.54,6.54,4.04
max,53940.00,5.01,79.00,95.00,18823.00,10.74,58.90,31.80